<app-header></app-header>
<main class="w-100 flex flex-col py-4 px-2 flex-1 justify-center">
    <router-outlet></router-outlet>
</main>

<footer class="w-100 p-4 bg-blue-600 text-white font-display">
    <div class="container mx-auto text-center">
        <div *ngIf="! authService.isLoggedIn()" class="mb-2">
            <a routerLink="/auth/login">Login</a>
        </div>
        <div *ngIf="authService.isAdmin()" class="mb-2">
            <a routerLink="/admin">Admin dashboard</a>
        </div>
        <span class="bg-white text-black px-2 mx-1 rounded-sm">The Store<span class="text-blue-600">.</span></span>
        Made by Wesley Klop.
    </div>
</footer>
