<p class="mb-2">
    <a class="button button--sm" routerLink="/">Go back.</a>
</p>
<ng-container *ngIf="product$ | async as product">
    <h2 class="header sm:text-4xl">
        {{ product.title }}
    </h2>
    <div class="flex flex-col sm:flex-row">
        <div class="relative my-2 mx-auto">
            <img class="rounded object-cover object-center h-64 sm:h-auto" src="{{ product.file?.path || 'https://images.unsplash.com/photo-1551500226-b50b653e33e8?auto=format&fit=crop&w=600&q=80' }}"/>
            <div class="price-overlay">
                <div class="price-rotated">{{ (product.price / 100) | currency:'EUR' }}</div>
            </div>
        </div>
        <div class="sm:mx-2 flex flex-col sm:flex-col-reverse items-center">
            <button (click)="handleAddToCartClick(product)" class="w-full p-4 button my-4 sm:my-2 rounded-lg">Add to cart</button>
            <p class="sm:mt-2">{{ product.description }}</p>
        </div>
    </div>
</ng-container>
