/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@tailwind base;
@tailwind components;

.header {
    @apply font-bold text-xl px-2 font-display font-bold;
}

.button {
    @apply bg-gray-200 px-3 py-1 rounded-lg uppercase text-center;
}

.icon-button {
    @apply bg-gray-200 rounded-full text-center uppercase;
    height: 40px;
    line-height: 40px;
    width: 40px;
}

.icon-button > .material-icons {
    height: inherit;
    line-height: inherit;
    width: inherit;
}

.abs-center {
    @apply absolute;
    top: 50%;
    transform: translateY(-50%);
}

.price-rotated {
    transform: rotate(-10deg);
}

.price-overlay {
    @apply absolute right-0 bottom-0 p-4 rounded-tl-lg rounded-br text-lg;
    background-color: hsla(0, 0%, 100%, 0.54);
}

@tailwind utilities;

.flex-2 {
    flex: 2;
}
